@import 'tailwindcss';

.html {
    font-family: Poppins, sans-serif;
}
.helvetica {
    font-family: Poppins, Helvetica, sans-serif
}
.field-label {
    @apply text-[#7C838A] text-sm flex flex-col;
    font-family: Poppins, Helvetica, sans-serif
}
.field-input {
    @apply bg-[#B0BAC3]/40 rounded-xl py-2 px-5 mt-2
}